/*.App {
  text-align: center;
}*/

.ImageContainer{
  height: 400px;
  background-color: #e1e1e1;
  display: relative;
}
.ImageUploader{
  width: 25px;
  height: 25px;
  background-color: red;
  display: block;
}
